apiVersion: oauth.openshift.io/v1
kind: OAuthClient
metadata:
  name: argocd-oauth-client
  namespace: openshift-authentication
secret: argocd-oauth-client-secret
redirectURIs:
 - "openshift-gitops.{{ targetenv.ocp.base_domain }}"
grantMethod: prompt